# Lab | Pandas

In this lab, we will be working with the customer data from an insurance company, which can be found in the CSV file located at the following link: https://raw.githubusercontent.com/data-bootcamp-v4/data/main/file1.csv

The data includes information such as customer ID, state, gender, education, income, and other variables that can be used to perform various analyses.

Throughout the lab, we will be using the pandas library in Python to manipulate and analyze the data. Pandas is a powerful library that provides various data manipulation and analysis tools, including the ability to load and manipulate data from a variety of sources, including CSV files.

### Data Description

- Customer - Customer ID

- ST - State where customers live

- Gender - Gender of the customer

- Education - Background education of customers 

- Customer Lifetime Value - Customer lifetime value(CLV) is the total revenue the client will derive from their entire relationship with a customer. In other words, is the predicted or calculated value of a customer over their entire duration as a policyholder with the insurance company. It is an estimation of the net profit that the insurance company expects to generate from a customer throughout their relationship with the company. Customer Lifetime Value takes into account factors such as the duration of the customer's policy, premium payments, claim history, renewal likelihood, and potential additional services or products the customer may purchase. It helps insurers assess the long-term profitability and value associated with retaining a particular customer.

- Income - Customers income

- Monthly Premium Auto - Amount of money the customer pays on a monthly basis as a premium for their auto insurance coverage. It represents the recurring cost that the insured person must pay to maintain their insurance policy and receive coverage for potential damages, accidents, or other covered events related to their vehicle.

- Number of Open Complaints - Number of complaints the customer opened

- Policy Type - There are three type of policies in car insurance (Corporate Auto, Personal Auto, and Special Auto)

- Vehicle Class - Type of vehicle classes that customers have Two-Door Car, Four-Door Car SUV, Luxury SUV, Sports Car, and Luxury Car

- Total Claim Amount - the sum of all claims made by the customer. It represents the total monetary value of all approved claims for incidents such as accidents, theft, vandalism, or other covered events.

External Resources: https://towardsdatascience.com/filtering-data-frames-in-pandas-b570b1f834b9

## Challenge 1: Understanding the data

In this challenge, you will use pandas to explore a given dataset. Your task is to gain a deep understanding of the data by analyzing its characteristics, dimensions, and statistical properties.

- Identify the dimensions of the dataset by determining the number of rows and columns it contains.
- Determine the data types of each column and evaluate whether they are appropriate for the nature of the variable. You should also provide suggestions for fixing any incorrect data types.
- Identify the number of unique values for each column and determine which columns appear to be categorical. You should also describe the unique values of each categorical column and the range of values for numerical columns, and give your insights.
- Compute summary statistics such as mean, median, mode, standard deviation, and quartiles to understand the central tendency and distribution of the data for numerical columns. You should also provide your conclusions based on these summary statistics.
- Compute summary statistics for categorical columns and providing your conclusions based on these statistics.

In [4]:
import pandas as pd

url = 'https://raw.githubusercontent.com/data-bootcamp-v4/data/main/file1.csv'

customer_data = pd.read_csv(url)
customer_data

,Customer,ST,GENDER,Education,Customer Lifetime Value,Income,Monthly Premium Auto,Number of Open Complaints,Policy Type,Vehicle Class,Total Claim Amount
0,RB50392,Washington,NaN,Master,NaN,0.0,1000.0,1/0/00,Personal Auto,Four-Door Car,2.704934
1,QZ44356,Arizona,F,Bachelor,697953.59%,0.0,94.0,1/0/00,Personal Auto,Four-Door Car,1131.464935
2,AI49188,Nevada,F,Bachelor,1288743.17%,48767.0,108.0,1/0/00,Personal Auto,Two-Door Car,566.472247
3,WW63253,California,M,Bachelor,764586.18%,0.0,106.0,1/0/00,Corporate Auto,SUV,529.881344
4,GA49547,Washington,M,High School or Below,536307.65%,36357.0,68.0,1/0/00,Personal Auto,Four-Door Car,17.269323
...,...,...,...,...,...,...,...,...,...,...,...
4003,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
4004,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
4005,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
4006,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
4007,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [6]:
#Identify the dimensions of the dataset by determining the number of rows and columns it contains.
customer_data.shape
#it contains 4008 rws and 11 columns

(4008, 11)

In [8]:
#types of the values in each column
customer_data.dtypes

Customer                      object
ST                            object
GENDER                        object
Education                     object
Customer Lifetime Value       object
Income                       float64
Monthly Premium Auto         float64
Number of Open Complaints     object
Policy Type                   object
Vehicle Class                 object
Total Claim Amount           float64
dtype: object

In [10]:
#Customer Lifetime Value should be data type float64
customer_data['Customer Lifetime Value'] = customer_data['Customer Lifetime Value'].str.replace(',', '').astype('float64')

ValueError: could not convert string to float: '697953.59%'

In [20]:
#Identify the number of unique values for each column and determine which columns appear to be categorical
customer_data[["Customer", "ST", "GENDER", "Education", "Customer Lifetime Value", "Income", "Monthly Premium Auto", "Number of Open Complaints", "Policy Type", "Vehicle Class", "Total Claim Amount"]].nunique()

Customer                     1071
ST                              8
GENDER                          5
Education                       6
Customer Lifetime Value      1027
Income                        774
Monthly Premium Auto          132
Number of Open Complaints       6
Policy Type                     3
Vehicle Class                   6
Total Claim Amount            761
dtype: int64

Customer, ST, GENDER, Education, Number of Open Complaints, Policy Type, Vehicle Class seem to be categorical.

In [30]:
#You should also describe the unique values of each categorical column and the range of values for numerical columns, and give your insights

customer_data[["Customer", "ST", "GENDER", "Education", "Number of Open Complaints", "Policy Type", "Vehicle Class"]].apply(pd.Series.unique)

Customer                     [RB50392, QZ44356, AI49188, WW63253, GA49547, ...
ST                           [Washington, Arizona, Nevada, California, Oreg...
GENDER                                        [nan, F, M, Femal, Male, female]
Education                    [Master, Bachelor, High School or Below, Colle...
Number of Open Complaints    [1/0/00, 1/2/00, 1/1/00, 1/3/00, 1/5/00, 1/4/0...
Policy Type                  [Personal Auto, Corporate Auto, Special Auto, ...
Vehicle Class                [Four-Door Car, Two-Door Car, SUV, Luxury SUV,...
dtype: object

In [14]:
customer_data[['Customer', 'ST', 'GENDER', 'Education', 'Number of Open Complaints', 'Policy Type', 'Vehicle Class']].apply(pd.Series.unique)

# Calculating the range for numerical columns
customer_data['Income'].describe()
customer_data['Monthly Premium Auto'].describe()
customer_data['Total Claim Amount'].describe()

count    1071.000000
mean      404.986909
std       293.027260
min         0.382107
25%       202.157702
50%       354.729129
75%       532.800000
max      2893.239678
Name: Total Claim Amount, dtype: float64

In [47]:
# The range of values for numerical columns, and give your insights.

def clean_column(column):
    # Convert the column to string first to avoid attribute errors
    column = column.astype(str)  # Convert all entries to string
    column = column.str.replace('%', '', regex=False)  # Remove percentage sign
    column = column.str.replace(',', '', regex=False)   # Remove commas if present
    return pd.to_numeric(column, errors='coerce')  # Convert to numeric, coercing errors

# Clean the relevant columns
customer_data["Customer Lifetime Value"] = clean_column(customer_data["Customer Lifetime Value"])
customer_data["Income"] = clean_column(customer_data["Income"])
customer_data["Monthly Premium Auto"] = clean_column(customer_data["Monthly Premium Auto"])
customer_data["Total Claim Amount"] = clean_column(customer_data["Total Claim Amount"])

# Calculate max, min, and range
max_values = customer_data[["Customer Lifetime Value", "Income", "Monthly Premium Auto", "Total Claim Amount"]].max()
min_values = customer_data[["Customer Lifetime Value", "Income", "Monthly Premium Auto", "Total Claim Amount"]].min()
ranges = max_values - min_values

# Print the ranges
print(ranges)

# Print the ranges
print(ranges)
#Other example
#range = (df['Income'].max()- df['Income'].min())
#range

Customer Lifetime Value    5.616220e+06
Income                     9.996000e+04
Monthly Premium Auto       3.529300e+04
Total Claim Amount         2.892858e+03
dtype: float64
Customer Lifetime Value    5.616220e+06
Income                     9.996000e+04
Monthly Premium Auto       3.529300e+04
Total Claim Amount         2.892858e+03
dtype: float64

In [88]:
#Another example
#import numpy as np
#print(df["Income"].nunique())
#max=df['Income'].max()
#min=df['Income'].min()
#print(f"The highest value in income is:{ max}")
#print(f"The lowest value in income is:{ min}")
#range=max-min
#print(f"The range of income is:{range}")

In [34]:
#Compute summary statistics such as mean, median, mode, standard deviation, and quartiles to understand the central tendency and distribution of the data for numerical columns. 
#You should also provide your conclusions based on these summary statistics.

#"Customer Lifetime Value" was removed as the values are not available 

customer_data[["Income", "Monthly Premium Auto", "Total Claim Amount"]].describe()

             Income  Monthly Premium Auto  Total Claim Amount
count   1071.000000           1071.000000         1071.000000
mean   39295.701214            193.234360          404.986909
std    30469.427060           1601.190369          293.027260
min        0.000000             61.000000            0.382107
25%    14072.000000             68.000000          202.157702
50%    36234.000000             83.000000          354.729129
75%    64631.000000            109.500000          532.800000
max    99960.000000          35354.000000         2893.239678

Income: You can see that the income is quite variable among the different customer(some with low income, others with really high incomes). Average of 39k but with 30k of standart deviation. The lowest income is 0$ when the highest income is almost 100k $. This wide range indicates that there are customers with low-income and and others with high-income.

Monthly premium auto: The average is approx 193$. The standard deviation of approx 1600$ indicates extreme variability within the customers suggesting thatt some of them obtain more coverage options than others. For the range, we can see that some customers may have very high premiums in comparison to others, matching the difference in income and investment in inssurance.

Total Amount Claim: The money that claim the customers on average is 405$. For a minimum of 0.38$ and a maximum of 2893$. You can see that some people reclaim more money than others and this could impact the insurance company to be profitable.

In [36]:
#Compute summary statistics for categorical columns and providing your conclusions based on these statistics.

In [38]:
df_categorical = customer_data.select_dtypes(include="object")
df_categorical.describe()

,Customer,ST,GENDER,Education,Customer Lifetime Value,Number of Open Complaints,Policy Type,Vehicle Class
count,1071,1071,954,1071,1068,1071,1071,1071
unique,1071,8,5,6,1027,6,3,6
top,RB50392,Oregon,F,Bachelor,445811.34%,1/0/00,Personal Auto,Four-Door Car
freq,1,320,457,324,4,830,780,576

Count and state: There are 1071 unique customer entries, with each entry being unique (no duplicates) coming from 8 unique states. Oregon being with most entries with 320 customer entries. This state could be a target to promote even more marketing.
Gender: 5 different genders obtained with most entries of female with 457. The women represent a huga part of the market.
Education: Most common educational degree is Bachelor with 324 entries.
Complaints: 6 complaints out of the 830 entries. This show that the customers are mainly satisfied.
Policy type and vehicle class: 780 registration of insurance for Auto showing a dominance of the market for this vehicle insurance. Even more detailed with a four-door Car (576 entries).

Project: Target the women from Oregon with at least a bachelor degree to insure their four-door Car and give the company lot of money. Uncle Sam, we are coming !

## Challenge 2: analyzing the data

### Exercise 1

The marketing team wants to know the top 5 less common customer locations. Create a pandas Series object that contains the customer locations and their frequencies, and then retrieve the top 5 less common locations in ascending order.

In [57]:
# Your code here
import pandas as pd

location_counts = customer_data['ST'].value_counts()

# Step 2: Sort the frequencies in ascending order
sorted_locations = location_counts.sort_values(ascending=True)

# Step 3: Retrieve the top 5 least common locations
top_5_least_common_locations = sorted_locations.head(5)

# Print the results
print(top_5_least_common_locations)

ST
AZ             25
WA             30
Washington     81
Nevada         98
Cali          120
Name: count, dtype: int64

### Exercise 2

The sales team wants to know the total number of policies sold for each type of policy. Create a pandas Series object that contains the policy types and their total number of policies sold, and then retrieve the policy type with the highest number of policies sold.

*Hint:*
- *Using value_counts() method simplifies this analysis.*
- *Futhermore, there is a method that returns the index of the maximum value in a column or row.*

In [61]:
# Your code here

policy_counts = customer_data['Policy Type'].value_counts()

print("Total number of policies sold for each type:")
print(policy_counts)

most_sold_policy_type = policy_counts.idxmax()
most_sold_policy_count = policy_counts.max()

print(f"\nThe policy type with the highest number of policies sold is '{most_sold_policy_type}' with {most_sold_policy_count} policies sold.")

Total number of policies sold for each type:
Policy Type
Personal Auto     780
Corporate Auto    234
Special Auto       57
Name: count, dtype: int64

The policy type with the highest number of policies sold is 'Personal Auto' with 780 policies sold.

### Exercise 3

The sales team wants to know if customers with Personal Auto have a lower income than those with Corporate Auto. How does the average income compare between the two policy types?

- Use *loc* to create two dataframes: one containing only Personal Auto policies and one containing only Corporate Auto policies.
- Calculate the average income for each policy.
- Print the results.

In [65]:
# Your code here

personal_auto_df = customer_data.loc[customer_data['Policy Type'] == 'Personal Auto']
corporate_auto_df = customer_data.loc[customer_data['Policy Type'] == 'Corporate Auto']

average_income_personal = personal_auto_df['Income'].mean()
average_income_corporate = corporate_auto_df['Income'].mean()

print(f"Average income for Personal Auto policies: ${average_income_personal:.2f}")
print(f"Average income for Corporate Auto policies: ${average_income_corporate:.2f}")

#Compare the averages
if average_income_personal < average_income_corporate:
    print("Customers with Personal Auto policies have a lower average income than those with Corporate Auto policies.")
elif average_income_personal > average_income_corporate:
    print("Customers with Personal Auto policies have a higher average income than those with Corporate Auto policies.")
else:
    print("Customers with Personal Auto policies have the same average income as those with Corporate Auto policies.")

Average income for Personal Auto policies: $38180.70
Average income for Corporate Auto policies: $41390.31
Customers with Personal Auto policies have a lower average income than those with Corporate Auto policies.

### Bonus: Exercise 4

Your goal is to identify customers with a high policy claim amount.

Instructions:

- Review again the statistics for total claim amount to gain an understanding of the data.
- To identify potential areas for improving customer retention and profitability, we want to focus on customers with a high policy claim amount. Consider customers with a high policy claim amount to be those in the top 25% of the total claim amount. Create a pandas DataFrame object that contains information about customers with a policy claim amount greater than the 75th percentile.
- Use DataFrame methods to calculate summary statistics about the high policy claim amount data.

*Note: When analyzing data, we often want to focus on certain groups of values to gain insights. Percentiles are a useful tool to help us define these groups. A percentile is a measure that tells us what percentage of values in a dataset are below a certain value. For example, the 75th percentile represents the value below which 75% of the data falls. Similarly, the 25th percentile represents the value below which 25% of the data falls. When we talk about the top 25%, we are referring to the values that fall above the 75th percentile, which represent the top quarter of the data. On the other hand, when we talk about the bottom 25%, we are referring to the values that fall below the 25th percentile, which represent the bottom quarter of the data. By focusing on these groups, we can identify patterns and trends that may be useful for making decisions and taking action.*

*Hint: look for a method that gives you the percentile or quantile 0.75 and 0.25 for a Pandas Series.*

*Hint 2: check `Boolean selection according to the values of a single column` in https://towardsdatascience.com/filtering-data-frames-in-pandas-b570b1f834b9*

In [69]:
# Your code here

import pandas as pd

percentile_75 = customer_data['Total Claim Amount'].quantile(0.75)
print(f"75th percentile of total claim amount: {percentile_75}")

high_claims_df = customer_data[customer_data['Total Claim Amount'] > percentile_75]

summary_statistics = high_claims_df.describe()

print("\nDataFrame of customers with high policy claim amounts:")
print(high_claims_df)

print("\nSummary statistics for high policy claim amount:")
print(summary_statistics)

75th percentile of total claim amount: 532.8

DataFrame of customers with high policy claim amounts:
     Customer          ST GENDER Education  Customer Lifetime Value   Income  \
1     QZ44356     Arizona      F  Bachelor                697953.59      0.0
2     AI49188      Nevada      F  Bachelor               1288743.17  48767.0
17    OE15005        Cali    NaN   College                394524.16  28855.0
23    TZ98966      Nevada    NaN  Bachelor                245019.10      0.0
26    US89481  California    NaN  Bachelor                394637.21      0.0
...       ...         ...    ...       ...                      ...      ...
1059  YG44474      Oregon      M   College               1401472.13  54193.0
1061  RY92647        Cali      F  Bachelor               1050677.17      0.0
1068  GS98873     Arizona      F  Bachelor                323912.47  16061.0
1069  CW49887  California      F    Master                462680.11  79487.0
1070  MY31220  California      F   College                899704.02  54230.0

      Monthly Premium Auto Number of Open Complaints     Policy Type  \
1                     94.0                    1/0/00   Personal Auto
2                    108.0                    1/0/00   Personal Auto
17                   101.0                    1/0/00   Personal Auto
23                    73.0                    1/3/00  Corporate Auto
26                   111.0                    1/0/00   Personal Auto
...                    ...                       ...             ...
1059                 117.0                    1/0/00  Corporate Auto
1061                  92.0                    1/0/00   Personal Auto
1068                  88.0                    1/0/00   Personal Auto
1069                 114.0                    1/0/00    Special Auto
1070                 112.0                    1/0/00   Personal Auto

      Vehicle Class  Total Claim Amount
1     Four-Door Car         1131.464935
2      Two-Door Car          566.472247
17              SUV          647.442031
23    Four-Door Car          554.376763
26    Four-Door Car          799.200000
...             ...                 ...
1059            SUV          720.752945
1061  Four-Door Car          546.524896
1068  Four-Door Car          633.600000
1069            SUV          547.200000
1070   Two-Door Car          537.600000

[264 rows x 11 columns]

Summary statistics for high policy claim amount:
       Customer Lifetime Value        Income  Monthly Premium Auto  \
count             2.640000e+02    264.000000            264.000000
mean              9.086868e+05  23677.344697            165.193182
std               6.387678e+05  27013.483721            623.930992
min               2.287597e+05      0.000000             63.000000
25%               4.723958e+05      0.000000             99.000000
50%               7.781768e+05  18807.000000            114.000000
75%               1.054430e+06  42423.750000            133.250000
max               3.844586e+06  99316.000000          10202.000000

       Total Claim Amount
count          264.000000
mean           782.228263
std            292.751640
min            537.600000
25%            606.521741
50%            679.597985
75%            851.400000
max           2893.239678